* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.board {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:absolute;
    top: -3rem;
}

.board section div {
    width: clamp(8rem, 3vw, 30rem);
    height: clamp(10rem, 3vw, 25rem);
    background-color: #eee;
    margin: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board section {
    display: flex;
}

.x {
    font-size: clamp(1rem, 5vw, 20rem);
}