* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.selection-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.selection-position {
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: .1rem .1rem 5rem 0 #000;
    padding: 5rem;
}

.winner-games-selection span {
    font-size: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(30, 230, 11);
    margin: 3rem 0;
}

.instructions {
    margin: 3rem 0;
    font-family: 'Times New Roman', Times, serif;
}

.input-games input {
    width: 20rem;
    height: 5rem;
    font-size: 2.5rem;
    margin: 3rem 0;
}

.selection-button button {
    width: 20rem;
    height: 5rem;
    font-size: 3rem;
    background-color: rgb(58, 197, 116);
    border: none;
    cursor: pointer;
    font-family: cursive;
}

.wrong {
    color: rgb(199, 10, 10);
}

