* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.results-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    font-size: clamp(5rem, 2vw, 25rem);
    background-color: #000;
    color: #fff;
    font-family: cursive;
}

.players-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.name-result {
    font-size: clamp(2rem, 5vw, 10rem);
}

.versus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.versus-letters {
    
}

.restart {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.restart button {
    width: 25rem;
    height: 8rem;
    font-size: 3rem;
    border-radius: 2rem;
    cursor: pointer;
    font-family:cursive;
}

@media screen and (min-width:764px) {
    .results-container {
        flex-direction: row;
    }

    .versus-letters {

    }
}
